<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>News</title>
  <link rel="stylesheet" href="../../common/common.css" />
  <link rel="stylesheet" href="./news.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet" />
</head>

<body>
  <div class="container">
    <div class="header">
      <a class="header_navbar" href="../news/news.html">Tin tức</a>

      <div class="header_navbar" id="navbar">
        Sản phẩm
        <div class="navbar_menu">
          <!-- chữ trong navbar_menu bị sai lỗi chính tả	sửa lỗi chính tả -->
          <a href="../onyx/onyx.html">Onyx</a>
          <a href="../jade/jade.html">Phỉ Thúy</a>
          <a href="../cu_au/cu_au.html">Đồng mạ vàng</a>
          <a href="../composite/composite.html">Composite</a>
          <a href="../luu_ly/luu_ly.html">Lưu Ly</a>
          <a href="../ceramic/ceramic.html">Sứ</a>
          <a href="../cedar_wood/cedar_wood.html">Gỗ Tuyết Tùng</a>
        </div>
      </div>

      <div class="header_logo"><img src="/common/header/img/logo.png" alt=""></div>

      <a class="header_navbar" href="../contact/contact.html">Liên hệ</a>

      <a class="header_navbar" href="../cart/cart.html">Giỏ hàng</a>

    </div>
    <img src="./img/new_img.png" alt="" class="container_img_news" />
    <div class="material material_news">
      <div class="des_content des_content_news">
        <div class="news_detail_left">
          <img class="left_img" src="./img/news_1.png" alt="" />
          <p>
            TRIỂN LÃM<br />
            TƯỢNG NGỌC 2024
          </p>
          <p>
            20/09/2024<br />
            Trung tâm triển lãm Mỹ Đình
          </p>
          <div class="left_text">
            <p>
              Triển lãm tượng ngọc phương Đông lần này là một sự kiện nghệ
              thuật quy mô lớn, thu hút sự chú ý của giới nghệ thuật và công
              chúng yêu thích ngọc quý. Sự kiện diễn ra tại trung tâm triển
              lãm quốc gia, với sự góp mặt của nhiều nghệ nhân và tác phẩm
              nghệ thuật đỉnh cao từ các quốc gia châu Á.<br />
              Nội Dung Triển Lãm<br />
              Triển lãm bao gồm hàng trăm tác phẩm tượng ngọc, được chế tác từ
              các loại ngọc quý hiếm như ngọc bích, ngọc thạch, và ngọc trai.
              Các tác phẩm thể hiện đa dạng các chủ đề, từ hình ảnh thiên
              nhiên, động vật, đến các
            </p>
          </div>
        </div>
        <div class="news_detail_right">
          <p>
            nhân vật lịch sử và thần thoại. Mỗi tác phẩm đều mang trong mình
            những giá trị nghệ thuật và văn hóa đặc sắc.<br />
            Tác Phẩm Đặc Sắc <br />
            Tượng Phật Ngọc: Tượng Phật được điêu khắc từ ngọc bích, tượng
            trưng cho sự thanh tịnh và trí tuệ.<br />
            Cảnh Quan Thiên Nhiên: Những bức tượng mô phỏng phong cảnh thiên
            nhiên với cây cối, núi non và sông suối, được chế tác tỉ mỉ đến
            từng chi tiết nhỏ nhất.<br />
            Động Vật Hoang Dã: Tượng các loài động vật như rồng, phượng hoàng,
            hổ và sư tử, biểu tượng cho sức mạnh và sự cao quý.<br />
            Khu Vực Triển Lãm<br />
            Khu Vực Châu Á: Trưng bày các tác phẩm từ Trung Quốc, Nhật Bản,
            Hàn Quốc và các nước Đông Nam Á.<br />
            Khu Vực Phương Tây: Dù tập trung vào ngọc phương Đông, triển lãm
            cũng dành một phần nhỏ để giới thiệu những tác phẩm phương Tây lấy
            cảm hứng từ ngọc.<br />
            Hoạt Động Đi Kèm<br />
            Ngoài việc trưng bày tượng ngọc, triển lãm còn tổ chức các hoạt
            động phụ trợ như:<br />
            Hội Thảo Chuyên Đề: Các nghệ nhân và chuyên gia sẽ có những buổi
            nói chuyện, chia sẻ về kỹ thuật chế tác và lịch sử ngọc.<br />
            Giao Lưu Nghệ Thuật: Khách tham quan có cơ hội gặp gỡ và trao đổi
            với các nghệ nhân nổi tiếng. Triển Lãm Tượng Ngọc Phương Đông: Sự
            Kiện Nghệ Thuật Quy Mô Lớn <br />
            Giới
          </p>
        </div>
      </div>
      <div class="list_product list_product_news">
        <div class="product_contain product_contain_news">
          <div class="news_item">
            <img src="./img/news_1.png" alt="" />
            <p>
              TRIỂN LÃM<br />
              TƯỢNG NGỌC 2024
            </p>
            <p>
              20/09/2024<br />
              Trung tâm triển lãm Mỹ Đình
            </p>
          </div>
          <div class="news_item">
            <img src="./img/news_2.png" alt="" />
            <p>
              TRIỂN LÃM<br />
              TƯỢNG NGỌC 2024
            </p>
            <p>
              20/09/2024<br />
              Trung tâm triển lãm Mỹ Đình
            </p>
          </div>
          <div class="news_item">
            <img src="./img/news_3.png" alt="" />
            <p>
              TRIỂN LÃM<br />
              TƯỢNG NGỌC 2024
            </p>
            <p>
              20/09/2024<br />
              Trung tâm triển lãm Mỹ Đình
            </p>
          </div>
          <div class="news_item">
            <img src="./img/news_4.png" alt="" />
            <p>
              TRIỂN LÃM<br />
              TƯỢNG NGỌC 2024
            </p>
            <p>
              20/09/2024<br />
              Trung tâm triển lãm Mỹ Đình
            </p>
          </div>
          <div class="news_item">
            <img src="./img/news_5.png" alt="" />
            <p>
              TRIỂN LÃM<br />
              TƯỢNG NGỌC 2024
            </p>
            <p>
              20/09/2024<br />
              Trung tâm triển lãm Mỹ Đình
            </p>
          </div>
          <div class="news_item">
            <img src="./img/news_6.png" alt="" />
            <p>
              TRIỂN LÃM<br />
              TƯỢNG NGỌC 2024
            </p>
            <p>
              20/09/2024<br />
              Trung tâm triển lãm Mỹ Đình
            </p>
          </div>
          <div class="news_item">
            <img src="./img/news_7.png" alt="" />
            <p>
              TRIỂN LÃM<br />
              TƯỢNG NGỌC 2024
            </p>
            <p>
              20/09/2024<br />
              Trung tâm triển lãm Mỹ Đình
            </p>
          </div>
          <div class="news_item">
            <img src="./img/news_8.png" alt="" />
            <p>
              TRIỂN LÃM<br />
              TƯỢNG NGỌC 2024
            </p>
            <p>
              20/09/2024<br />
              Trung tâm triển lãm Mỹ Đình
            </p>
          </div>
          <div class="news_item">
            <img src="./img/news_9.png" alt="" />
            <p>
              TRIỂN LÃM<br />
              TƯỢNG NGỌC 2024
            </p>
            <p>
              20/09/2024<br />
              Trung tâm triển lãm Mỹ Đình
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <p>COPY RIGHTT BY GIA LINH ART</p>
    </div>
  </div>
</body>
<script src="./news.js"></script>
<script src="/common/header/header.js"></script>

</html>