<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../common/common.css">
    <link rel="stylesheet" href="./cart.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <title>Giỏ Hàng</title>
</head>

<body>
    <div class="container">
        <!-- header -->
        <div class="header">
            <a class="header_navbar" href="../news/news.html">Tin tức</a>

            <div class="header_navbar" id="navbar">
                Sản phẩm
                <div class="navbar_menu">
                    <!-- chữ trong navbar_menu bị sai lỗi chính tả	sửa lỗi chính tả -->
                    <a href="../onyx/onyx.html">Onyx</a>
                    <a href="../jade/jade.html">Phỉ Thúy</a>
                    <a href="../cu_au/cu_au.html">Đồng mạ vàng</a>
                    <a href="../composite/composite.html">Composite</a>
                    <a href="../luu_ly/luu_ly.html">Lưu Ly</a>
                    <a href="../ceramic/ceramic.html">Sứ</a>
                    <a href="../cedar_wood/cedar_wood.html">Gỗ Tuyết Tùng</a>
                </div>
            </div>

            <div class="header_logo"><img src="/common/header/img/logo.png" alt=""></div>

            <a class="header_navbar" href="../contact/contact.html">Liên hệ</a>

            <a class="header_navbar" href="../cart/cart.html">Giỏ hàng</a>

        </div>

        <!-- cart -->
        <div class="cart">
            <p>THÔNG TIN ĐƠN HÀNG</p>

            <hr>
            <!-- danh sách sản phẩm đã đạt mua -->
            <div class="ordered_product_list">
                <div class="information_product">
                    <div class="detail_product_ordered">
                        <img src="./imgCart/imgproduct.png" alt="">
                        <div class="detail_info_ordered">
                            <p>Phật Bà Quan Âm</p>
                            <p>Bạch ngọc</p>
                            <p>Kích thước: xxx</p>
                            <p>Số lượng: x</p>
                        </div>
                    </div>
                    <p>x00.000.000vnđ</p>
                </div>
                <div class="information_product">
                    <div class="detail_product_ordered">
                        <img src="./imgCart/imgproduct.png" alt="">
                        <div class="detail_info_ordered">
                            <p>Phật Bà Quan Âm</p>
                            <p>Bạch ngọc</p>
                            <p>Kích thước: xxx</p>
                            <p>Số lượng: x</p>
                        </div>
                    </div>
                    <p>x00.000.000vnđ</p>
                </div>
            </div>
            <hr>

            <!-- tổng giá trị thanh toán -->
            <div class="total_value">
                <p>TỔNG GIÁ TRỊ THANH TOÁN</p>
                <p>x00.000.000vnđ</p>
            </div>

            <!-- thông tin khách hàng -->
            <div class="customer_information">
                <p>THÔNG TIN KHÁCH HÀNG</p>
                <p>Họ và tên: abc</p>
                <p>Số điện thoại: 456.789.1230</p>
                <p>Email: abc@gmail.com</p>
                <p>Địa chỉ nhận hàng: 123 đường xyz, P. abc , Q. abc, Hà Nội</p>
            </div>

            <!-- phương thức thanh toán -->
            <div class="payment_methods">
                <p>PHƯƠNG THỨC THANH TOÁN</p>
                <div class="payment_methods_image">
                    <img src="./imgCart/paypal.png" alt="">
                    <img src="./imgCart/master.png" alt="">
                    <img src="./imgCart/vnpay.png" alt="">
                </div>
            </div>
        </div>

        <!-- footer -->
        <div class="footer">
            <p>copy right by gia linh art</p>
        </div>
    </div>
</body>
<script src="../../common/header/header.js"></script>

</html>