<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/common/common.css">
    <link rel="stylesheet" href="/components/luu_ly/luu_ly.css">
    <link rel="stylesheet" href="/common/animation/animation.css">
    <title>Document</title>
</head>


<body>
    <div class="container">
        <!-- Hearder-->
        <div class="header">
            <a class="header_navbar" href="../news/news.html">Tin tức</a>

            <div class="header_navbar" id="navbar">
                Sản phẩm
                <div class="navbar_menu">
                    <!-- chữ trong navbar_menu bị sai lỗi chính tả	sửa lỗi chính tả -->
                    <a href="../onyx/onyx.html">Onyx</a>
                    <a href="../jade/jade.html">Phỉ Thúy</a>
                    <a href="../cu_au/cu_au.html">Đồng mạ vàng</a>
                    <a href="../composite/composite.html">Composite</a>
                    <a href="../luu_ly/luu_ly.html">Lưu Ly</a>
                    <a href="../ceramic/ceramic.html">Sứ</a>
                    <a href="../cedar_wood/cedar_wood.html">Gỗ Tuyết Tùng</a>
                </div>
            </div>

            <div class="header_logo"><img src="/common/header/img/logo.png" alt=""></div>

            <a class="header_navbar" href="../contact/contact.html">Liên hệ</a>

            <a class="header_navbar" href="../cart/cart.html">Giỏ hàng</a>

        </div>

        <!-- Ảnh tablet-->
        <img class="container_img" src="/components/luu_ly/img/img_container.png" alt="">

        <!-- Material-->
        <div class="material">
            <!-- Giới thiệu -->
            <div class="des des_luu_ly">
                <!-- Logo chất liệu -->
                <img class="des_img des_img_luu_ly" src="/components/luu_ly/img/img_container.png" alt="">
                <!-- Giới thiệu chất liệu -->
                <div class="des_content des_content_luu_ly">
                    <p class="des_title des_title_luu_ly">Ngọc Lưu Ly: Vẻ Đẹp và Văn Hóa Á Đông<br>
                        Ngọc lưu ly, hay lapis lazuli, là một loại đá quý nổi bật với màu xanh đậm, tạo thành từ
                        lazurit, calcit, và pyrit. Lazurit mang lại màu xanh chủ đạo, calcit tạo vân trắng, còn pyrit
                        góp thêm chấm vàng lấp lánh. Ngọc lưu ly được khai thác từ hàng ngàn năm trước Công nguyên tại
                        Afghanistan và đã được các nền văn minh cổ đại như Ai Cập, Lưỡng Hà và Hy Lạp sử dụng làm đồ
                        trang sức và màu vẽ.<br>
                        Trong văn hóa châu Á, ngọc lưu ly mang ý nghĩa tâm linh sâu sắc. Tại Trung Quốc, nó biểu tượng
                        cho quyền lực và trí tuệ, thường được vua chúa sử dụng để trang trí bảo vật quốc gia. Ở Ấn Độ,
                        nó tượng trưng cho lòng trung thực và thông thái, thường xuất hiện trong các nghi lễ tôn giáo.
                        Các truyền thuyết Á Đông cũng nhắc đến ngọc lưu ly như biểu tượng của ánh sáng và trí tuệ, gắn
                        liền với Đức Phật.<br>
                        Ngọc lưu ly không chỉ là một loại đá quý mà còn là biểu tượng văn hóa, kết nối con người với vũ
                        trụ và quá khứ với hiện tại. Với vẻ đẹp vượt thời gian, ngọc lưu ly tiếp tục thu hút và ngưỡng
                        mộ trong cả hiện tại và tương lai. Ngày nay, ngọc lưu ly không chỉ hiện diện trong các bộ sưu
                        tập trang sức mà còn xuất hiện trong các tác phẩm nghệ thuật và phong thủy. Qua hàng ngàn năm,
                        vẻ đẹp và ý nghĩa của ngọc lưu ly vẫn không hề phai nhạt, minh chứng cho sức sống bền bỉ và giá
                        trị vĩnh cửu của nó.
                    </p>
                </div>
            </div>

            <!-- Danh sách sản phẩm -->
            <div class="cover_list_shape">
                <!-- Danh sách hình phật -->
                <div class="list_product list_product_luu_ly">
                    <!-- Ảnh chất liệu -->
                    <img class="product_img product_img_luu_ly" src="img/img_container.png" alt="">
                    <!-- chữ tượng thờ -->
                    <p>TƯỢNG THỜ</p>
                    <!--Các ảnh hình tượng phật -->
                    <div class="product_contain product_contain_luu_ly">
                        <div class="product_item">
                            <img src="/components/luu_ly/img/product1.png" alt="">
                            <p id="one">Mã sp: 000</p>
                        </div>

                        <div class="product_item">
                            <img src="/components/luu_ly/img/product2.png" alt="">
                            <p id="two">Mã sp: 000</p>
                        </div>

                        <div class="product_item">
                            <img src="/components/luu_ly/img/product3.png" alt="">
                            <p id="three">Mã sp: 000</p>
                        </div>

                        <div class="product_item buddha_four">
                            <div id="buddha_four"> <img id="img_four" src="/components/luu_ly/img/product4.png" alt="">
                            </div>

                            <p id="four">Mã sp: 000</p>
                        </div>

                        <div class="product_item">
                            <img src="/components/luu_ly/img/product5.png" alt="">
                            <p id="five">Mã sp: 000</p>
                        </div>

                        <div class="product_item">
                            <img src="/components/luu_ly/img/product6.png" alt="">
                            <p id="six">Mã sp: 000</p>
                        </div>

                        <div class="product_item">
                            <img src="/components/luu_ly/img/product7.png" alt="">
                            <p id="seven">Mã sp: 000</p>
                        </div>

                        <div class="product_item">
                            <img src="/components/luu_ly/img/product8.png" alt="">
                            <p id="eight">Mã sp: 000</p>
                        </div>

                        <div class="product_item">
                            <img src="/components/luu_ly/img/product9.png" alt="">
                            <p id="nine">Mã sp: 000</p>
                        </div>
                    </div>
                </div>

                <!-- Danh sách các hình dáng -->
                <div class="shape_product">
                    <!-- Ảnh chất liệu -->
                    <img class="product_img shape_img_luu_ly" src="/components/luu_ly/img/img_container.png" alt="">
                    <!-- Chữ tượng thờ -->
                    <p>TƯỢNG THỜ</p>
                    <!-- Ảnh các hình dáng -->
                    <div class="product_contain product_contain_shape">
                        <!-- Hàng 1 -->
                        <div class="shapes_first">
                            <div class="product_item">
                                <img src="/components/luu_ly/img/shapes1.png" alt="">
                                <p id="one_pro">Mã sp: 000</p>
                            </div>
                            <div class="product_item">
                                <img src="/components/luu_ly/img/shapes2.png" alt="">
                                <p id="two_pro">Mã sp: 000</p>
                            </div>
                            <div class="product_item">
                                <img src="/components/luu_ly/img/shapes3.png" alt="">
                                <p id="three_pro">Mã sp: 000</p>
                            </div>
                        </div>
                        <!-- Hàng 2 -->
                        <div class="shapes_second">
                            <img id="img_shapes_second" src="/components/luu_ly/img/shapes4.png" alt="">
                            <p id="four_pro">Mã sp: 000</p>
                        </div>
                        <!-- Hàng 3 -->
                        <div class="shapes_third">
                            <div class="product_item">
                                <img src="/components/luu_ly/img/shapes5.png" alt="">
                                <p id="five_pro">Mã sp: 000</p>
                            </div>
                            <div class="shape_third_bigger">
                                <img src="/components/luu_ly/img/shapes6.png" alt="">
                                <p id="six_pro">Mã sp: 000</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Chi tiết sản phẩm -->
            <div class="product_detail">
                <!-- Ảnh bé -->
                <img class="detail_img_small" src="/components/luu_ly/img/detail_small1.png" alt="">
                <!-- Ảnh to -->
                <img class="detail_img_big" src="/components/luu_ly/img/detail_big1.png" alt="">
                <!-- Thông tin chi tiết -->
                <div class="detail_info">
                    <p class="hidden">PHẬT<br /> A-DI-ĐÀ</p>
                    <p class="hidden">Mã sp: 000</p>
                    <p class="hidden">Kích thước:</p>
                    <p class="hidden">Rộng:</p>
                    <p class="hidden">Cao:</p>
                    <p class="hidden">Dày:</p>
                    <p class="hidden">Đế gỗ:</p>
                    <p class="hidden">GIÁ: 5000 USD</p>
                </div>
                <!-- Thông tin sản phẩm -->
                <p class="detail_ads hidden detail_ads_luu_ly">
                    Ngọc lưu ly khắc hình Phật A Di Đà mang trong mình ý nghĩa tinh thần sâu sắc và
                    linh thiêng. Phật A Di Đà, vị Phật của ánh sáng vô lượng và trí tuệ vô biên, biểu trưng cho sự cứu
                    rỗi và dẫn dắt chúng sinh đến cõi Tây Phương Cực Lạc, nơi không có đau khổ và phiền não. Ngọc lưu
                    ly, với màu xanh lấp lánh, được coi là biểu tượng của sự tinh khiết và thanh tịnh, giúp thanh lọc
                    tâm hồn và mang lại cảm giác bình yên, tĩnh lặng. Khi kết hợp với hình ảnh Phật A Di Đà, ngọc lưu ly
                    trở thành biểu tượng của sự bảo hộ, an lành và lòng từ bi vô hạn. Đeo ngọc lưu ly khắc Phật A Di Đà
                    không chỉ mang lại may mắn và bình an mà còn giúp tăng cường niềm tin vào sự dẫn dắt của Phật,
                    khuyến khích người đeo sống theo những phẩm hạnh tốt đẹp và hướng tới sự giác ngộ.
                </p>
                <!-- Giỏ hàng và liên hệ -->
                <div class="detail_buy">
                    <!-- Cho vào giỏ hàng -->
                    <div class="buy">
                        <img src="/components/luu_ly/img/cart.png" alt="">
                        <p>Chọn vào giỏ hàng</p>
                    </div>
                    <!-- Liên hệ -->
                    <div class="buy">
                        <img src="/components/luu_ly/img/phone.png" alt="">
                        <p>Tư vấn sản phẩm</p>
                    </div>
                </div>
                <!-- Tên ảnh to -->
                <p class="detail_name_product">PHẬT A-DI-ĐÀ</p>
            </div>

        </div>
        <!-- Footer -->
        <div class="footer">
            <p>copy right by gia linh art</p>
        </div>

    </div>
</body>
<!-- Js của header -->
<script src="luu_ly.js"></script>
<script src="/common/header/header.js"></script>

</html>