<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/common/common.css">
    <link rel="stylesheet" href="/common/animation/animation.css">
    <link rel="stylesheet" href="./composite.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="header">
            <a class="header_navbar" href="../news/news.html">Tin tức</a>

            <div class="header_navbar" id="navbar">
                Sản phẩm
                <div class="navbar_menu">
                    <!-- chữ trong navbar_menu bị sai lỗi chính tả	sửa lỗi chính tả -->
                    <a href="../onyx/onyx.html">Onyx</a>
                    <a href="../jade/jade.html">Phỉ Thúy</a>
                    <a href="../cu_au/cu_au.html">Đồng mạ vàng</a>
                    <a href="../composite/composite.html">Composite</a>
                    <a href="../luu_ly/luu_ly.html">Lưu Ly</a>
                    <a href="../ceramic/ceramic.html">Sứ</a>
                    <a href="../cedar_wood/cedar_wood.html">Gỗ Tuyết Tùng</a>
                </div>
            </div>

            <div class="header_logo"><img src="/common/header/img/logo.png" alt=""></div>

            <a class="header_navbar" href="../contact/contact.html">Liên hệ</a>

            <a class="header_navbar" href="../cart/cart.html">Giỏ hàng</a>

        </div>
        <img src="https://s3-alpha-sig.figma.com/img/6678/c4f2/e2cc496081a08e125e80d91250f3fae7?Expires=1721001600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=aIozxFt-e7gonzYFtGYkeLQYOoFaJxIYZKxYrsq-yJX~uu-imgxhajsXplVMv2CeBpXgXnwksFJsnn9bhOkVp~LSxO8gvP0UGGmSWBb3VszNYS3z13xEVm3TUON~T9UdCdPYYWtVBK6DjdcvazxrxwUlIwL8yKPV6~QaB~4~ctlcNo-983KMURsuBt6BbkVLJCvHGENlzHMckKifnoORpJvrFWDgB4Zs4ugE~gIGnUNDBkLy418lcjco4-EGjI40DqGAww8ETDj6vjW-IhzTVLi3mVJ6WQBbJglRY6Z38jXF5hSS8v7sb5FROJpatT8mmfG5XWbkSEV7A6GK38kG9Q__"
            alt="" class="container_img container_img_composite">
        <div class="material">
            <div class="des des_composite">
                <img src="img/tieude.png" alt="" class="des_img des_img_composite">
                <div class="des_content des_content_composite">
                    <p class="des_title">
                        Tượng thờ composite là những bức tượng được làm từ chất liệu composite, thường là sự kết hợp
                        giữa
                        sợi thủy tinh và nhựa. Chúng được sử dụng phổ biến trong các cơ sở tôn giáo và gia đình để thờ
                        cúng. <br>
                        Ưu điểm: <br>
                    </p>
                    <ol>
                        <li>Độ bền cao: Chịu được thời tiết khắc nghiệt và tác động cơ học.</li>
                        <li>Nhẹ: Dễ di chuyển và lắp đặt.</li>
                        <li>Chi phí hợp lý: Sản xuất ít tốn kém hơn so với các vật liệu truyền thống.</li>
                        <li>Đa dạng thiết kế: Dễ tạo hình và sơn phủ, nhiều mẫu mã và màu sắc.</li>
                        <li>Bảo vệ môi trường: Giảm khai thác gỗ và đá.</li>
                    </ol>
                    <p>Nhược điểm:</p>
                    <ol>
                        <li>Độ chân thực: Không hoàn toàn giống với gỗ hoặc đá tự nhiên.</li>
                        <li>Khả năng tái chế: Khó tái chế, gây vấn đề môi trường.</li>
                    </ol>
                </div>
            </div>
            <div class="list_product list_product_composite">
                <img src="img/tieude.png" alt="" class="product_img product_img_composite">
                <p>TƯỢNG THỜ</p>
                <div class="product_contain">
                    <div class="product_item">
                        <img src="img/product1.png" alt="">
                        <p>Mã sp: 000</p>
                    </div>
                    <div class="product_item">
                        <img src="./img/jade2.png" alt="">
                        <p>Mã sp: 000</p>
                    </div>
                    <div class="product_item">
                        <img src="./img/jade3.png" alt="">
                        <p>Mã sp: 000</p>
                    </div>
                    <div class="product_item">
                        <img src="img/product1.png" alt="">
                        <p>Mã sp: 000</p>
                    </div>
                    <div class="product_item">
                        <img src="img/product1.png" alt="">
                        <p>Mã sp: 000</p>
                    </div>
                    <div class="product_item">
                        <img src="img/product1.png" alt="">
                        <p>Mã sp: 000</p>
                    </div>
                    <div class="product_item">
                        <img src="img/product1.png" alt="">
                        <p>Mã sp: 000</p>
                    </div>
                    <div class="product_item">
                        <img src="img/product1.png" alt="">
                        <p>Mã sp: 000</p>
                    </div>
                    <div class="product_item">
                        <img src="img/product1.png" alt="">
                        <p>Mã sp: 000</p>
                    </div>
                </div>
            </div>
            <div class="product_detail">
                <img src="./img/product_img0.png" alt="" class="detail_img_small detail_img_small_composite">
                <img src="./img/product_img0.png" alt="" class="detail_img_big detail_img_big_composite">
                <div class="detail_info">
                    <p>QUAN VŨ</p>
                    <p class="hidden">Mã sp: 000</p>
                    <p class="hidden">Kích thước:</p>
                    <p class="hidden">Rộng:</p>
                    <p class="hidden">Cao:</p>
                    <p class="hidden">Dày:</p>
                    <p class="hidden">Đế gỗ:</p>
                    <p class="hidden">GIÁ: 5000 USD</p>
                </div>
                <p class="detail_ads detail_ads_composite hidden">
                    Quan Vũ - Quan Vân Trường, một vị tướng nổi tiếng trong lịch sử Trung Quốc được biết đến với sự
                    trung thành, dũng cảm và uy quyền. <br>
                    Thờ Quan Vũ là một nét tín ngưỡng lâu đời với mục đích bảo vệ gia đình, doanh nghiệp khỏi những điều
                    xấu xa, mang lại bình an. <br>
                    Quan Vũ cưỡi mây thể hiện sự thăng tiến và thành công trong sự nghiệp. Hình ảnh cưỡi mây biểu trưng
                    cho việc vượt qua khó khăn, thử thách để đạt được thành công, thể hiện sự thăng hoa và tiến bước
                    không ngừng. <br>
                    Ngọc Phỉ Thúy là biểu tượng của sự giàu có & thịnh vượng khi được kết hợp với tượng Quan Vũ không
                    chỉ mang ý nghĩa bảo vệ và quyền uy mà còn thu hút tài lộc phú quý.
                </p>
                <div class="detail_buy">
                    <div class="buy">
                        <img src="./img/cart.png" alt="">
                        <p>Chọn vào giỏ hàng</p>
                    </div>
                    <div class="buy">
                        <img src="./img/contact.png" alt="">
                        <p>Tư vấn sản phẩm</p>
                    </div>
                </div>
                <p class="detail_name_product detail_name_product_composite">QUAN VŨ</p>
            </div>
        </div>
        <div class="footer">
            <p>copy right by gia linh art</p>
        </div>
    </div>
    <script src="/common/header/header.js"></script>
    <script src="./composite.js"></script>
</body>

</html>