<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/common/common.css">
    <link rel="stylesheet" href="/common/animation/animation.css">
    <link rel="stylesheet" href="jade.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <!-- Header -->
        <div class="header">
            <a class="header_navbar" href="../news/news.html">Tin tức</a>

            <div class="header_navbar" id="navbar">
                Sản phẩm
                <div class="navbar_menu">
                    <!-- chữ trong navbar_menu bị sai lỗi chính tả	sửa lỗi chính tả -->
                    <a href="../onyx/onyx.html">Onyx</a>
                    <a href="../jade/jade.html">Phỉ Thúy</a>
                    <a href="../cu_au/cu_au.html">Đồng mạ vàng</a>
                    <a href="../composite/composite.html">Composite</a>
                    <a href="../luu_ly/luu_ly.html">Lưu Ly</a>
                    <a href="../ceramic/ceramic.html">Sứ</a>
                    <a href="../cedar_wood/cedar_wood.html">Gỗ Tuyết Tùng</a>
                </div>
            </div>

            <div class="header_logo"><img src="/common/header/img/logo.png" alt=""></div>

            <a class="header_navbar" href="../contact/contact.html">Liên hệ</a>

            <a class="header_navbar" href="../cart/cart.html">Giỏ hàng</a>

        </div>
        <!-- img hiển thị ở màn tablet ngang -->
        <img class="container_img container_img_jade" src="./imgjade/imgjadetitle.png" alt="">

        <!-- material -->
        <div class="material material_jade">

            <!-- des -->
            <div class="des des_jade">
                <img class="des_img des_img_jade" src="./imgjade/imgjadetitle.png" alt="">
                <div class="des_content des_content_jade">
                    <p class="des_title des_title_jade">
                        Ngọc Phỉ Thúy - Jadeite không chỉ là một loại đá quý mà còn là biểu tượng của vẻ đẹp, sự tinh
                        khiết và may mắn trong văn hóa Á Đông. Được yêu thích và trân trọng qua hàng ngàn năm, ngọc Phỉ
                        Thúy mang trong mình câu chuyện lịch sử phong phú và tầm quan trọng trong văn hóa. Ngọc Phỉ Thúy
                        nổi bật với màu sắc đa dạng, từ xanh lục đậm, trắng, đến tím nhạt. Màu xanh lục sáng, giống như
                        màu của cây mạ non, là màu quý nhất, tượng trưng cho sự thịnh vượng và trường thọ. Độ trong suốt
                        và độ bóng của Ngọc Phỉ Thúy làm tăng thêm giá trị. <br>
                        Ngọc Phỉ Thúy là một phần của tâm hồn và văn hóa Á Đông, là biểu tượng máy mắn và bảo vệ sức
                        khỏe. Trong phong thủy, ngọc Phỉ Thúy được tin là mang lại năng lượng tích cực, cân bằng và
                        thịnh vượng cho người sở hữu. Các nghệ nhân tài ba đã biến những viên ngọc thô sơ thành nhưgnx
                        tác phẩm nghệ thuật sống động từ những chiếc vòng lấp lánh, những phức tranh phong cảnh sinh
                        động hay đến những tượng thần phong thủy nghiêm trang.
                    </p>
                </div>
            </div>

            <!-- list product -->
            <div class="list_product list_product_jade">
                <img class="product_img product_img_jade" src="./imgjade/imgjadetitle.png" alt="">
                <p>Tượng Thờ</p>
                <div class="product_contain">
                    <div class="product_item">
                        <img id="img_jade1" src="./imgjade/imgjade1.png" alt="">
                        <p>Mã sp: 000</p>
                    </div>
                    <div class="product_item">
                        <img src="./imgjade/imgjade2.png" alt="">
                        <p>Mã sp: 000</p>
                    </div>
                    <div class="product_item">
                        <img src="./imgjade/imgjade.png" alt="">
                        <p>Mã sp: 000</p>
                    </div>
                    <div class="product_item">
                        <img src="./imgjade/imgjade1.png" alt="">
                        <p>Mã sp: 000</p>
                    </div>
                    <div class="product_item">
                        <img src="./imgjade/imgjade1.png" alt="">
                        <p>Mã sp: 000</p>
                    </div>
                    <div class="product_item">
                        <img src="./imgjade/imgjade1.png" alt="">
                        <p>Mã sp: 000</p>
                    </div>
                    <div class="product_item">
                        <img src="./imgjade/imgjade1.png" alt="">
                        <p>Mã sp: 000</p>
                    </div>
                    <div class="product_item">
                        <img src="./imgjade/imgjade1.png" alt="">
                        <p>Mã sp: 000</p>
                    </div>
                    <div class="product_item">
                        <img src="./imgjade/imgjade1.png" alt="">
                        <p>Mã sp: 000</p>
                    </div>
                </div>
            </div>

            <!-- product detail -->
            <div class="product_detail product_detail_jade">
                <img class="detail_img_small detail_img_small_jade" src="./imgjade/imgjade1.png" alt="">
                <img class="detail_img_big detail_img_big_jade" src="" alt="">
                <div class="detail_info detail_info_jade">
                    <p class="hidden">Quan Vũ</p>
                    <p class="hidden">Mã sp: 000</p>
                    <p class="hidden">Kích thước:</p>
                    <p class="hidden">Rộng:</p>
                    <p class="hidden">Cao:</p>
                    <p class="hidden">Dày</p>
                    <p class="hidden">Đế gỗ:</p>
                    <p class="hidden">Giá: 5000 USD</p>
                </div>
                <p class="detail_ads detail_ads_jade hidden"> Quan Vũ - Quan Vân Trường, một vị tướng nổi tiếng trong
                    lịch sử Trung Quốc được biết đến với sự trung thành, dũng cảm và uy quyền. <br>
                    Thờ Quan Vũ là một nét tín ngưỡng lâu đời với mục đích bảo vệ gia đình, doanh nghiệp khỏi những điều
                    xấu xa, mang lại bình an.<br>
                    Quan Vũ cưỡi mây thể hiện sự thăng tiến và thành công trong sự nghiệp. Hình ảnh cưỡi mây biểu trưng
                    cho việc vượt qua khó khăn, thử thách để đạt được thành công, thể hiện sự thăng hoa và tiến bước
                    không ngừng.<br>
                    Ngọc Phỉ Thúy là biểu tượng của sự giàu có & thịnh vượng khi được kết hợp với tượng Quan Vũ không
                    chỉ mang ý nghĩa bảo vệ và quyền uy mà còn thu hút tài lộc phú quý.
                </p>
                <div class="detail_buy">
                    <div class="buy">
                        <img src="./imgjade/imgcart.png" alt="">
                        <p>Chọn vào giỏ hàng</p>
                    </div>
                    <div class="buy">
                        <img src="./imgjade/imgcontact.png" alt="">
                        <p>Tư vấn sản phẩm</p>
                    </div>
                </div>

                <!-- name product hiển thị khi bấm vào hình ảnh -->
                <p class="detail_name_product detail_name_product_jade"></p>
            </div>
        </div>

        <!-- footer -->
        <div class="footer">
            <p>copy right by gia linh art</p>
        </div>
    </div>
</body>
<script src="./jade.js"></script>
<script src="/common/header/header.js"></script>

</html>