<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Cedar_wood</title>
  <link rel="stylesheet" href="/common/animation/animation.css" />
  <link rel="stylesheet" href="../../common/common.css" />
  <link rel="stylesheet" href="./cedar_wood.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link rel="stylesheet" href="./cedar_wood.js" />

  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet" />
</head>

<body>
  <div class="container container_cedar_wood">
    <div class="header">
      <a class="header_navbar" href="../news/news.html">Tin tức</a>

      <div class="header_navbar" id="navbar">
        Sản phẩm
        <div class="navbar_menu">
          <!-- chữ trong navbar_menu bị sai lỗi chính tả	sửa lỗi chính tả -->
          <a href="../onyx/onyx.html">Onyx</a>
          <a href="../jade/jade.html">Phỉ Thúy</a>
          <a href="../cu_au/cu_au.html">Đồng mạ vàng</a>
          <a href="../composite/composite.html">Composite</a>
          <a href="../luu_ly/luu_ly.html">Lưu Ly</a>
          <a href="../ceramic/ceramic.html">Sứ</a>
          <a href="../cedar_wood/cedar_wood.html">Gỗ Tuyết Tùng</a>
        </div>
      </div>

      <div class="header_logo"><img src="/common/header/img/logo.png" alt=""></div>

      <a class="header_navbar" href="../contact/contact.html">Liên hệ</a>

      <a class="header_navbar" href="../cart/cart.html">Giỏ hàng</a>

    </div>
    <img class="container_img container_img_cedar_wood" src="./img/img_cedar_wood_mini.png" alt="" />

    <div class="material material_cedar_wood">
      <div class="des des_cedar_wood">
        <img class="des_img des_img_cedar_wood" src="./img/img_cedar_wood.png" alt="" />
        <div class="des_content des_content_cedar_wood">
          <p class="des_title des_title_cedar_wood">
            Gỗ tuyết tùng, còn được biết đến với tên gốc là "sugi" trong tiếng
            Nhật và "shan" trong tiếng Trung, là một loại gỗ quý hiếm thường
            được tìm thấy ở các khu rừng cao nguyên và núi non của châu Á.
            Loại gỗ này thường có màu sắc từ màu đỏ nâu đậm đến màu nâu vàng
            nhạt, tạo ra một vẻ đẹp tự nhiên và sang trọng. <br />Chất liệu gỗ
            tuyết tùng có đặc điểm mềm mại, mịn màng và dễ cắt, điều này khiến
            nó trở thành lựa chọn lý tưởng cho việc điêu khắc và chạm trổ.
            Ngoài ra, gỗ tuyết tùng cũng có mùi thơm đặc trưng, khiến cho sản
            phẩm làm từ loại gỗ này mang lại không chỉ một cái nhìn đẹp mắt mà
            còn một trải nghiệm cảm giác thú vị cho người sử dụng.<br />
            Trong văn hóa Á Đông, tượng thờ gỗ tuyết tùng mang theo nhiều ý
            nghĩa sâu sắc. Đầu tiên, gỗ tuyết tùng thường được sử dụng để điêu
            khắc các tượng thần linh, vị tiên nhân và anh hùng lịch sử, thể
            hiện sự tôn kính và sùng bái của người dân đối với các biểu tượng
            tâm linh. Ngoài ra, với vẻ đẹp tự nhiên và mùi thơm đặc trưng, gỗ
            tuyết tùng trở thành biểu tượng của sự cao quý, tinh tế và phẩm
            chất tốt đẹp trong văn hóa Á Đông. Cuối cùng, theo quan niệm phong
            thủy, việc sử dụng tượng thờ gỗ tuyết tùng trong không gian sống
            hoặc làm việc được coi là một cách để thu hút và giữ lại sự may
            mắn và bình yên cho gia chủ.
          </p>
        </div>
      </div>
      <div class="list_product list_product_cedar_wood">
        <img class="product_img product_img_cedar_wood" src="./img/img_cedar_wood_mini.png" alt="" />
        <p>TƯỢNG THỜ</p>
        <div class="product_contain product_contain_cedar_wood">
          <div class="product_item">
            <img src="./img/product_11.png" alt="" />
            <p>Mã sp: 000</p>
          </div>
          <div class="product_item">
            <img class="product_2" src="./img/product_2.png" alt="" />
            <p>Mã sp: 000</p>
          </div>
          <div class="product_item">
            <img class="product_3" src="./img/product_3.png" alt="" />
            <p>Mã sp: 000</p>
          </div>
          <div class="product_item">
            <img src="./img/product_11.png" alt="" />
            <p>Mã sp: 000</p>
          </div>
          <div class="product_item">
            <img src="./img/product_11.png" alt="" />
            <p>Mã sp: 000</p>
          </div>
          <div class="product_item">
            <img src="./img/product_11.png" alt="" />
            <p>Mã sp: 000</p>
          </div>
          <div class="product_item">
            <img src="./img/product_11.png" alt="" />
            <p>Mã sp: 000</p>
          </div>
          <div class="product_item">
            <img src="./img/product_11.png" alt="" />
            <p>Mã sp: 000</p>
          </div>
          <div class="product_item">
            <img src="./img/product_11.png" alt="" />
            <p>Mã sp: 000</p>
          </div>
        </div>
      </div>
      <div class="product_detail product_detail_cedar_wood">
        <img class="detail_img_small detail_img_small_cedar_wood" src="./img/detail_1.png" alt="" />
        <img class="detail_img_big detail_img_big_cedar_wood" src="./img/product_1.png" alt="" />

        <div class="detail_info detail_info_cedar_wood">
          <p>QUAN VŨ</p>
          <p class="hidden">Mã sp: 000</p>
          <p class="hidden">Kích thước:</p>
          <p class="hidden">Rộng:</p>
          <p class="hidden">Cao:</p>
          <p class="hidden">Dày:</p>
          <p class="hidden">Đế Gỗ:</p>
          <p class="hidden">GIÁ: 5000 USD</p>
        </div>

        <p class="detail_ads detail_ads_cedar_wood hidden">
          Quan Vũ - Quan Vân Trường, một vị tướng nổi tiếng trong lịch sử
          Trung Quốc được biết đến với sự trung thành, dũng cảm và uy
          quyền.<br />
          Thờ Quan Vũ là một nét tín ngưỡng lâu đời với mục đích bảo vệ gia
          đình, doanh nghiệp khỏi những điều xấu xa, mang lại bình an.<br />
          Quan Vũ cưỡi mây thể hiện sự thăng tiến và thành công trong sự
          nghiệp. Hình ảnh cưỡi mây biểu trưng cho việc vượt qua khó khăn, thử
          thách để đạt được thành công, thể hiện sự thăng hoa và tiến bước
          không ngừng.<br />
          Ngọc Phỉ Thúy là biểu tượng của sự giàu có & thịnh vượng khi được
          kết hợp với tượng Quan Vũ không chỉ mang ý nghĩa bảo vệ và quyền uy
          mà còn thu hút tài lộc phú quý.
        </p>
        <div class="detail_buy">
          <div class="buy">
            <img src="./img/cart.png" alt="" />
            <p style="font-weight: 300">Chọn vào giỏ hàng</p>
          </div>
          <div class="buy">
            <img src="./img/phone.png" alt="" />
            <p style="font-weight: 300">Tư vấn sản phẩm</p>
          </div>
        </div>
        <p class="detail_name_product">QUAN VŨ</p>
      </div>
    </div>
    <div class="footer">
      <p>COPY RIGHTT BY GIA LINH ART</p>
    </div>
  </div>
</body>
<script src="./cedar_wood.js"></script>

</html>