<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/common/common.css">
    <link rel="stylesheet" href="./ceramic.css">
    <link rel="stylesheet" href="./ceramic.js">
    <link rel="stylesheet" href="/common/animation/animation.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

</head>

<body>
    <div class="container">
        <!-- header -->
        <div class="header">
            <a class="header_navbar" href="../news/news.html">Tin tức</a>

            <div class="header_navbar" id="navbar">
                Sản phẩm
                <div class="navbar_menu">
                    <!-- chữ trong navbar_menu bị sai lỗi chính tả	sửa lỗi chính tả -->
                    <a href="../onyx/onyx.html">Onyx</a>
                    <a href="../jade/jade.html">Phỉ Thúy</a>
                    <a href="../cu_au/cu_au.html">Đồng mạ vàng</a>
                    <a href="../composite/composite.html">Composite</a>
                    <a href="../luu_ly/luu_ly.html">Lưu Ly</a>
                    <a href="../ceramic/ceramic.html">Sứ</a>
                    <a href="../cedar_wood/cedar_wood.html">Gỗ Tuyết Tùng</a>
                </div>
            </div>

            <div class="header_logo"><img src="/common/header/img/logo.png" alt=""></div>

            <a class="header_navbar" href="../contact/contact.html">Liên hệ</a>

            <a class="header_navbar" href="../cart/cart.html">Giỏ hàng</a>

        </div>
        <!-- Ảnh chữ chất liệu -->
        <img src="./img/logo_ceramic.png" alt="" class="container_img container_img_ceramic ">
        <!-- Material -->
        <!-- Giới thiệu chất liệu -->
        <div class="material">
            <div class="des des_ceramic">
                <img src="./img/logo_ceramic.png" alt="" class="des_img des_img_ceramic">
                <div class="des_content des_content_ceramic">
                    <p class="des_title">"Tượng thờ sứ" thường được hiểu là các hình tượng được thờ phụng trong văn hóa
                        Á Đông, đặc biệt
                        là trong Phật giáo và Đạo giáo. Đây là những hình tượng đại diện cho các vị thần, pháp sư, hoặc
                        các vị linh thiêng khác, được dùng để tôn vinh, thờ cúng, và cầu nguyện. <br>
                        Trong Phật giáo, tượng Phật thường được đặt ở các đền chùa và đền thờ. Các tượng này thường thể
                        hiện các vị Phật trong những tư thế khác nhau, mỗi tư thế mang một ý nghĩa và thông điệp riêng.
                        Ví dụ, tượng Phật A Di Đà thường thể hiện trong tư thế ngồi thiền, tay nắm một bông hoa sen,
                        biểu trưng cho sự giác ngộ và lòng từ bi. <br>
                        Trong Đạo giáo, tượng thờ sứ thường bao gồm các vị thần, các vị tiên nhân, và các linh vật được
                        coi là bảo hộ và mang lại may mắn cho gia đình hoặc cộng đồng. Các tượng này thường được đặt ở
                        các đền thờ gia tiên hoặc trong các căn nhà để được thờ cúng hàng ngày. <br>
                        Ngoài ra, tượng thờ sứ cũng có thể xuất hiện trong các hình thức văn hóa dân gian khác nhau, như
                        các tượng thần linh, tượng các vị anh hùng dân tộc, hoặc các biểu tượng mang ý nghĩa tâm linh
                        đặc biệt đối với một cộng đồng cụ thể.</p>
                </div>
            </div>
            <div class="list_product list_product_ceramic ">
                <img src="./img/logo_ceramic.png" alt="" class="product_img product_img_ceramic">
                <p>TƯỢNG THỜ</p>
                <div class="product_contain">
                    <div class="product_item">
                        <img src="./img/jade0.png" alt="">
                        <p>Mã sp: 000</p>
                    </div>
                    <div class="product_item">
                        <img src="./img/jade1.png" alt="">
                        <p>Mã sp: 000</p>
                    </div>
                    <div class="product_item">
                        <img src="./img/jade2.png" alt="">
                        <p>Mã sp: 000</p>
                    </div>
                    <div class="product_item">
                        <img src="./img/jade4.png" alt="">
                        <p>Mã sp: 000</p>
                    </div>
                    <div class="product_item">
                        <img src="./img/jade4.png" alt="">
                        <p>Mã sp: 000</p>
                    </div>
                    <div class="product_item">
                        <img src="./img/jade4.png" alt="">
                        <p>Mã sp: 000</p>
                    </div>
                    <div class="product_item">
                        <img src="./img/jade4.png" alt="">
                        <p>Mã sp: 000</p>
                    </div>
                    <div class="product_item">
                        <img src="./img/jade4.png" alt="">
                        <p>Mã sp: 000</p>
                    </div>
                    <div class="product_item">
                        <img src="./img/jade4.png" alt="">
                        <p>Mã sp: 000</p>
                    </div>
                </div>
            </div>
            <div class="product_detail">
                <img src="./img/product_img0.png" alt="" class="detail_img_small detail_img_small_ceramic">
                <img src="./img/product_img0.png" alt="" class="detail_img_big detail_img_big_ceramic">
                <div class="detail_info">
                    <p>QUAN VŨ</p>
                    <p class="hidden">Mã sp: 000</p>
                    <p class="hidden">Kích thước:</p>
                    <p class="hidden">Rộng:</p>
                    <p class="hidden">Cao:</p>
                    <p class="hidden">Dày:</p>
                    <p class="hidden">Đế gỗ:</p>
                    <p class="hidden">GIÁ: 5000 USD</p>
                </div>
                <p class="detail_ads detail_ads_ceramic hidden">
                    Quan Vũ - Quan Vân Trường, một vị tướng nổi tiếng trong lịch sử Trung Quốc được biết đến với sự
                    trung thành, dũng cảm và uy quyền. <br>
                    Thờ Quan Vũ là một nét tín ngưỡng lâu đời với mục đích bảo vệ gia đình, doanh nghiệp khỏi những điều
                    xấu xa, mang lại bình an. <br>
                    Quan Vũ cưỡi mây thể hiện sự thăng tiến và thành công trong sự nghiệp. Hình ảnh cưỡi mây biểu trưng
                    cho việc vượt qua khó khăn, thử thách để đạt được thành công, thể hiện sự thăng hoa và tiến bước
                    không ngừng. <br>
                    Ngọc Phỉ Thúy là biểu tượng của sự giàu có & thịnh vượng khi được kết hợp với tượng Quan Vũ không
                    chỉ mang ý nghĩa bảo vệ và quyền uy mà còn thu hút tài lộc phú quý.
                </p>
                <div class="detail_buy">
                    <div class="buy">
                        <img src="./img/cart.png" alt="">
                        <p>Chọn vào giỏ hàng</p>
                    </div>
                    <div class="buy">
                        <img src="./img/phone.png" alt="">
                        <p>Tư vấn sản phẩm</p>
                    </div>
                </div>
                <p class="detail_name_product detail_name_product_ceramic">QUAN VŨ</p>
            </div>
        </div>
        <div class="footer">
            <p>copy right by gia linh art</p>
        </div>
    </div>
    <script src="/common/header/header.js"></script>
    <script src="./ceramic.js"></script>
</body>

</html>