<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Ngọc Onyx</title>
  <link rel="stylesheet" href="../../common/common.css" />
  <link rel="stylesheet" href="./onyx.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet" />
</head>

<body>
  <div class="container">
    <div class="header">
      <a class="header_navbar" href="../news/news.html">Tin tức</a>

      <div class="header_navbar" id="navbar">
        Sản phẩm
        <div class="navbar_menu">
          <!-- chữ trong navbar_menu bị sai lỗi chính tả	sửa lỗi chính tả -->
          <a href="../onyx/onyx.html">Onyx</a>
          <a href="../jade/jade.html">Phỉ Thúy</a>
          <a href="../cu_au/cu_au.html">Đồng mạ vàng</a>
          <a href="../composite/composite.html">Composite</a>
          <a href="../luu_ly/luu_ly.html">Lưu Ly</a>
          <a href="../ceramic/ceramic.html">Sứ</a>
          <a href="../cedar_wood/cedar_wood.html">Gỗ Tuyết Tùng</a>
        </div>
      </div>

      <div class="header_logo"><img src="/common/header/img/logo.png" alt=""></div>

      <a class="header_navbar" href="../contact/contact.html">Liên hệ</a>

      <a class="header_navbar" href="../cart/cart.html">Giỏ hàng</a>

    </div>
    <img class="container_img container_img_onyx" src="./img/onyx_img.png" alt="" />

    <div class="material material_onyx">
      <div class="des des_onyx">
        <img class="des_img des_img_onyx" src="./img/onyx_img.png" alt="" />
        <div class="des_content des_content_onyx">
          <p class="des_title des_title_onyx">
            Đá Onyx, với vẻ đẹp độc đáo và sự huyền bí, đã cuốn hút con người
            từ hàng ngàn năm nay. Loại đá này nổi bật nhờ vào cấu trúc dải màu
            song song, tạo nên vẻ đẹp kỳ ảo và lôi cuốn. Với độ cứng tương đối
            và khả năng phát sáng khi được chiếu đèn, Onyx thường được sử dụng
            trong trang trí nội thất và các tác phẩm nghệ thuật.<br /><br />
            Onyx là một dạng biến thể của thạch anh, nổi bật với các dải màu
            đan xen, thường là màu trắng và đen, nhưng cũng bao gồm các màu
            khác với tên gọi như
            <strong>Ngọc Lam Cổ, Ngọc Hoàng Long, Bạch Ngọc, Hồng Ngọc</strong>. Các dải màu này được hình thành từ quá
            trình tích tụ các lớp
            silica trong điều kiện nhiệt độ và áp suất khác nhau. Sự phân lớp
            tinh tế này không chỉ tạo nên vẻ đẹp mà còn làm cho mỗi viên onyx
            trở nên độc nhất vô nhị.<br /><br />
            Trong văn hóa phương Đông, Onyx được coi là biểu tượng của sức
            mạnh và sự bảo vệ, trang sức làm từ Onyx có thể xua đuổi năng
            lượng xấu và mang lại sự bình an. Trong phong thủy, Onyx được sử
            dụng để cân bằng năng lượng và tạo ra môi trường sống hài hòa.<br />
            Ngày nay, Onyx tiếp tục được yêu thích trong thiết kế nội thất và
            trang sức. Đặc biệt, khi được chiếu sáng từ phía sau, Onyx phát ra
            ánh sáng mềm mại, tạo nên hiệu ứng thị giác độc đáo.
          </p>
        </div>
      </div>
      <div class="list_product list_product_onyx">
        <img class="product_img product_img_onyx" src="./img/onyx_img.png" alt="" />
        <p>TƯỢNG THỜ</p>
        <div class="product_contain product_contain_onyx">
          <div class="product_item">
            <img src="./img/product_1.png" alt="" />
            <p>Mã sp: 000</p>
          </div>
          <div class="product_item">
            <img class="product_2" src="./img/product_2.png" alt="" />
            <p>Mã sp: 000</p>
          </div>
          <div class="product_item">
            <img class="product_3" src="./img/product_3.png" alt="" />
            <p>Mã sp: 000</p>
          </div>
          <div class="product_item">
            <img src="./img/product_4.png" alt="" />
            <p>Mã sp: 000</p>
          </div>
          <div class="product_item">
            <img src="./img/product_1.png" alt="" />
            <p>Mã sp: 000</p>
          </div>
          <div class="product_item">
            <img src="./img/product_1.png" alt="" />
            <p>Mã sp: 000</p>
          </div>
          <div class="product_item">
            <img src="./img/product_1.png" alt="" />
            <p>Mã sp: 000</p>
          </div>
          <div class="product_item">
            <img src="./img/product_1.png" alt="" />
            <p>Mã sp: 000</p>
          </div>
          <div class="product_item">
            <img src="./img/product_1.png" alt="" />
            <p>Mã sp: 000</p>
          </div>
        </div>
      </div>
      <div class="product_detail product_detail_onyx">
        <img class="detail_img_small detail_img_small_onyx" src="./img/detail_1.png" alt="" />
        <img class="detail_img_big detail_img_big_onyx" src="./img/detail_1.png" alt="" />

        <div class="detail_info">
          <p>QUAN VŨ</p>
          <p class="hidden">Mã sp: 000</p>
          <p class="hidden">Kích thước:</p>
          <p class="hidden">Rộng:</p>
          <p class="hidden">Cao:</p>
          <p class="hidden">Dày:</p>
          <p class="hidden">Đế Gỗ:</p>
          <p class="hidden">GIÁ: 5000 USD</p>
        </div>

        <p class="detail_ads detail_ads_onyx hidden">
          Quan Vũ - Quan Vân Trường, một vị tướng nổi tiếng trong lịch sử
          Trung Quốc được biết đến với sự trung thành, dũng cảm và uy
          quyền.<br />
          Thờ Quan Vũ là một nét tín ngưỡng lâu đời với mục đích bảo vệ gia
          đình, doanh nghiệp khỏi những điều xấu xa, mang lại bình an.<br />
          Quan Vũ cưỡi mây thể hiện sự thăng tiến và thành công trong sự
          nghiệp. Hình ảnh cưỡi mây biểu trưng cho việc vượt qua khó khăn, thử
          thách để đạt được thành công, thể hiện sự thăng hoa và tiến bước
          không ngừng.<br />
          Ngọc Onyx là biểu tượng của sự bảo vệ, ý nghĩa trừ tà, cần bằng,
          tăng giá sức mạnh nội tâm khi được kết hợp với tượng Quan Vũ không
          chỉ mang ý nghĩa bảo vệ và quyền uy mà giúp nội tâm thêm mạnh mẽ,
          vững vàng.
        </p>

        <div class="detail_buy">
          <div class="buy">
            <img src="./img/cart.png" alt="" />
            <p style="font-weight: 300">Chọn vào giỏ hàng</p>
          </div>
          <div class="buy">
            <img src="./img/phone.png" alt="" />
            <p style="font-weight: 300">Tư vấn sản phẩm</p>
          </div>
        </div>
        <p class="detail_name_product">QUAN VŨ</p>
      </div>
    </div>
    <div class="footer">
      <p>COPY RIGHTT BY GIA LINH ART</p>
    </div>
  </div>
</body>
<script src="./onyx.js"></script>

</html>