<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../common/common.css">
    <link rel="stylesheet" href="./cu_au.css">
    <link rel="stylesheet" href="../../common/animation/animation.css">
    <title>Đồng Mạ Vàng</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="container">
        <!-- header -->
        <div class="header">
            <a class="header_navbar" href="../news/news.html">Tin tức</a>

            <div class="header_navbar" id="navbar">
                Sản phẩm
                <div class="navbar_menu">
                    <!-- chữ trong navbar_menu bị sai lỗi chính tả	sửa lỗi chính tả -->
                    <a href="../onyx/onyx.html">Onyx</a>
                    <a href="../jade/jade.html">Phỉ Thúy</a>
                    <a href="../cu_au/cu_au.html">Đồng mạ vàng</a>
                    <a href="../composite/composite.html">Composite</a>
                    <a href="../luu_ly/luu_ly.html">Lưu Ly</a>
                    <a href="../ceramic/ceramic.html">Sứ</a>
                    <a href="../cedar_wood/cedar_wood.html">Gỗ Tuyết Tùng</a>
                </div>
            </div>

            <div class="header_logo"><img src="/common/header/img/logo.png" alt=""></div>

            <a class="header_navbar" href="../contact/contact.html">Liên hệ</a>

            <a class="header_navbar" href="../cart/cart.html">Giỏ hàng</a>

        </div>

        <!-- img màn tablet ngang -->
        <img class="container_img container_img_cu_au" src="img/img_container.png" alt="">

        <!-- material -->
        <div class="material material_cu_au">

            <!-- des -->
            <div class="des des_cu_au">
                <img src="img/img_container.png" alt="" class="des_img des_img_cu_au">
                <div class="des_content des_content_cu_au">
                    <p class="des_title">Tượng đồng mạ vàng trong tượng thờ là một sự kết hợp tinh tế giữa nghệ thuật và
                        tâm linh, được sử
                        dụng phổ biến trong các đền chùa, miếu mạo và cả trong gia đình để thờ cúng. Những bức tượng này
                        thường mang ý nghĩa tôn kính các vị thần, phật hoặc các nhân vật lịch sử, tôn giáo quan trọng.
                        Dưới
                        đây là một số điểm nổi bật về tượng đồng mạ vàng trong tượng thờ:</p>
                    <p class="des_title">1. Chất liệu và Kỹ thuật</p>
                    <ul>
                        <li>Chất liệu: Tượng thường được làm từ đồng, một kim loại có độ bền cao và dễ tạo hình. Đồng
                            cũng
                            được coi là vật liệu linh thiêng, có khả năng thu hút năng lượng tốt.</li>
                        <li>Kỹ thuật mạ vàng: Sau khi được đúc và hoàn thiện, bức tượng sẽ được phủ một lớp vàng mỏng
                            lên bề
                            mặt. Quá trình này không chỉ tăng tính thẩm mỹ mà còn làm tăng giá trị và độ bền của tượng.
                        </li>
                    </ul>
                    <p class="des_title">2. Ý nghĩa Tâm Linh</p>
                    <ul>
                        <li>Tôn kính và Thờ cúng: Tượng đồng mạ vàng thường được sử dụng để thờ cúng các vị thần, phật,
                            tổ
                            tiên hoặc các nhân vật tôn kính. Lớp vàng trên tượng thể hiện sự tôn trọng và lòng thành
                            kính
                            của người thờ.</li>
                        <li>
                            Tượng trưng cho sự giàu sang, phú quý: Vàng từ lâu đã được coi là biểu tượng của sự thịnh
                            vượng
                            và phú quý. Việc mạ vàng lên tượng đồng cũng mang ý nghĩa cầu mong sự may mắn và sung túc
                            cho
                            gia chủ.</li>
                    </ul>
                </div>
            </div>

            <!-- list product -->
            <div class="list_product list_product_cu_au">
                <img src="img/product_img.png" alt="" class="product_img product_img_cu_au">
                <p>TƯỢNG THỜ</p>
                <div class="product_contain products_cu_au">
                    <div class="product_item product_cu_au">
                        <img src="img/product1.png" alt="">
                        <p>Mã sp: 000</p>
                    </div>
                    <div class="product_item product_cu_au">
                        <img src="img/product2.png" alt="">
                        <p>Mã sp: 000</p>
                    </div>
                    <div class="product_item product_cu_au">
                        <img src="img/product3.png" alt="">
                        <p>Mã sp: 000</p>
                    </div>
                    <div class="product_item product_cu_au">
                        <img src="img/product4.png" alt="">
                        <p>Mã sp: 000</p>
                    </div>
                    <div class="product_item product_cu_au">
                        <img src="img/product5.png" alt="">
                        <p>Mã sp: 000</p>
                    </div>
                    <div class="product_item product_cu_au">
                        <img src="img/product6.png" alt="">
                        <p>Mã sp: 000</p>
                    </div>
                    <div class="product_item product_cu_au">
                        <img src="img/product7.png" alt="">
                        <p>Mã sp: 000</p>
                    </div>
                    <div class="product_item product_cu_au">
                        <img src="img/product8.png" alt="">
                        <p>Mã sp: 000</p>
                    </div>
                    <div class="product_item product_cu_au">
                        <img src="img/product9.png" alt="">
                        <p>Mã sp: 000</p>
                    </div>
                </div>
            </div>

            <!-- product detail -->
            <div class="product_detail product_detail_cu_au">
                <div><img src="img/detail_img_smail.png" alt="" class="detail_img_small detail_img_small_cu_au"></div>
                <img src="img/detail_img_big.png" alt="" class="detail_img_big detail_img_big_cu_au">
                <div class="detail_info">
                    <p>QUAN VŨ</p>
                    <p class="hidden">Mã sp: 000</p>
                    <p class="hidden">Kích thước:</p>
                    <p class="hidden">Rộng:</p>
                    <p class="hidden">Cao:</p>
                    <p class="hidden">Dày:</p>
                    <p class="hidden">Đế gỗ:</p>
                    <p class="hidden">GIÁ: 5000 USD</p>
                </div>
                <div class="detail_ads hidden">Quan Vũ - Quan Vân Trường, một vị tướng nổi tiếng trong lịch sử Trung
                    Quốc được biết đến với sự trung thành, dũng cảm và uy quyền.
                    Thờ Quan Vũ là một nét tín ngưỡng lâu đời với mục đích bảo vệ gia đình, doanh nghiệp khỏi những điều
                    xấu xa, mang lại bình an.
                    Quan Vũ cưỡi mây thể hiện sự thăng tiến và thành công trong sự nghiệp. Hình ảnh cưỡi mây biểu trưng
                    cho việc vượt qua khó khăn, thử thách để đạt được thành công, thể hiện sự thăng hoa và tiến bước
                    không ngừng.
                    Ngọc Phỉ Thúy là biểu tượng của sự giàu có & thịnh vượng khi được kết hợp với tượng Quan Vũ không
                    chỉ mang ý nghĩa bảo vệ và quyền uy mà còn thu hút tài lộc phú quý.</div>
                <div class="detail_buy">
                    <div class="buy">
                        <img src="img/cart.png" alt="">
                        <p>Chọn vào giỏ hàng</p>
                    </div>
                    <div class="buy">
                        <img src="img/phone.png" alt="">
                        <p>Tư vấn sản phẩm</p>
                    </div>
                </div>
                <div class="detail_name_product name_product_cu_au">phật ...</div>
            </div>
        </div>

        <!-- footer -->
        <div class="footer">
            <p>copy right by gia linh art</p>
        </div>
    </div>
    </div>
</body>
<script src="./cu_au.js"></script>
<script src="../../common/header/header.js"></script>

</html>