<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/common/common.css">
    <link rel="stylesheet" href="./home_Page.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet" />
</head>

<body>
    <!-- Header -->
    <div class="container container_home_page">
        <div class="header">
            <a class="header_navbar" href="../news/news.html">Tin tức</a>

            <div class="header_navbar" id="navbar">
                Sản phẩm
                <div class="navbar_menu">
                    <!-- chữ trong navbar_menu bị sai lỗi chính tả	sửa lỗi chính tả -->
                    <a href="../onyx/onyx.html">Onyx</a>
                    <a href="../jade/jade.html">Phỉ Thúy</a>
                    <a href="../cu_au/cu_au.html">Đồng mạ vàng</a>
                    <a href="../composite/composite.html">Composite</a>
                    <a href="../luu_ly/luu_ly.html">Lưu Ly</a>
                    <a href="../ceramic/ceramic.html">Sứ</a>
                    <a href="../cedar_wood/cedar_wood.html">Gỗ Tuyết Tùng</a>
                </div>
            </div>

            <div class="header_logo"><img src="/common/header/img/logo.png" alt=""></div>

            <a class="header_navbar" href="../contact/contact.html">Liên hệ</a>

            <a class="header_navbar" href="../cart/cart.html">Giỏ hàng</a>

        </div>
        <div class="home_page">
            <img src="./img/product.png" alt="" />
            <p>
                Phật là tâm, bao la vô biên,<br />
                Ngọc là chất, tinh tế không xiên.<br />
                Hai là một, hòa quyện không rời,<br />
                Trong hạnh phúc, ngàn năm vẹn nguyên.<br />
                -Nguyễn Du-
            </p>
        </div>
        <div class="footer">
            <p>COPY RIGHTT BY GIA LINH ART</p>
        </div>
    </div>
</body>
<script src="./home_page.js"></script>

</html>